<div class="hero-image">
  <div class="hero-text">
    <h1>See where and <em>when</em> your friends are</h1>
    <a href="/auth/foursquare"><button type="button" class="btn btn-secondary btn-login btn-lg mt-4">Log in via Foursquare</button></a>
  </div>
</div>
