<div class="container">
  <% current_user.attributes.each do |key, value| %>
    <%= key %>: <%= value %> <br>
  <% end %>

  <%= link_to "Friends", friends_path %>
  <br>
  <%= link_to "Import Friends from Foursquare", addfriends_path %>
</div>
