// Place all the styles related to the Me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  height: 50px;
  width: 50px;
  margin: 5px;
}

#friendzone-container {
  margin: 1.5vw 1vw;
  height: 100vh;
}

#friendzone-metrics {
  text-align: center;
  margin-bottom: 2vw;
  color: gray;
}

.zone-column {
  display: flex;
  flex-direction: row;
  margin: 0 1%;
}

.friendzone-header {
  position: absolute;
  top: 120px;
}

.people-cloumn {
  margin-top: 50px;
}

#time-zone-container {
  justify-content: center;
}
