// Place all the styles related to the Me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  height: 50px;
  width: 50px;
}

#friendzone {
  margin: 2vw 1vw;
}

.friendzone-header {

}
